[Unit]
Description=Padmiss daemon
After=network.target

[Service]
User=stepmania
WorkingDirectory=/opt/padmiss-daemon
ExecStartPre=/bin/sleep 2
ExecStart=/home/stepmania/.padmiss-daemon-venv/bin/python cli.py
Restart=always
RestartSec=1000ms

[Install]
WantedBy=multi-user.target
